# For more information on configuring rtpengine see
# http://github.com/sipwise/rtpengine
#
# (m) means the item is mandatory, (o) means the item is optional
#
KERNEL=yes		# (m) "yes" enable in-kernel forwarding, "no" disables
TABLE=0			# (o) iptables table for in-kernel forwarding rules
			#     comment out when "KERNEL=no"
FALLBACK=no		# (m) "yes" enables fallback to userspace forwarding
			#     only, "no" disables
RTP_IP[0]=internal/10.10.10.1	# (m) Local IPv4/6 address for RTP. The format of the value is [NAME/]IP[!IP].
RTP_IP[1]=external/192.168.10.105	# (m) Local IPv4/6 address for RTP. The format of the value is [NAME/]IP[!IP].
LISTEN_NG=127.0.0.1:2223 	# IP address and port combination for NG (UDP)
#LISTEN_CLI=127.0.0.1:9900
#TOS=184		# (o) TOS value to use in outgoing packets
#TIMEOUT=60		# (o) Number of seconds after which a media stream is
			#     considered dead if there is no traffic.
			#     Default: 60
#SILENT_TIMEOUT=3600	# (o) Number of seconds after which a muted or inactive
			#     stream is considered dead. Default: 3600
PORT_MIN=16000		# (o) Lowest port in the local port range for media
			#     traffic. Default: 30000
PORT_MAX=20000		# (o) Highest port in the local port range for media
			#     traffic. Default: 40000 
#LOG_LEVEL=6		# Log level to use
#LOG_FACILITY=daemon    # Syslog facility to use
#LOG_FACILITY_CDR=daemon        # Syslog facility to write CDRs
#
#NUM_THREADS=5		# How many worker threads to launch
#DELETE_DELAY=30        # Delay to delete session from memory
